:root {
    --bg-dark: #0f172a;
    --card-bg: #1e293b;
    --primary: #3b82f6;
    --primary-hover: #2563eb;
    --text-main: #f8fafc;
    --text-muted: #94a3b8;
    --border: #334155;
    --accent: #8b5cf6;
    --error: #ef4444;
}

body{
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    background-color: var(--bg-dark);
    color: var(--text-main);
    margin: 0;
    padding-bottom: 50px;
}

/* __________________________________________________________________NavBar */
.navbar{
    padding: 20px 5%;
    border-bottom: 1px solid var(--border);
    background: rgba(30, 41, 59, 0.5);
    margin-bottom: 40px;
}

.logo{
    font-weight: bold;
    font-size: 1.5rem;
    color: var(--primary);
}

.main-container{
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

/* __________________________________________________________________Buscador */

.search-section{
    text-align: center;
    margin-bottom: 40px;
}
.search-section h1{
    font-size: 2rem;
    margin-bottom: 20px;
}

.search-box{
    background: var(--card-bg);
    padding: 15px;
    border-radius: 12px;
    display: flex;
    gap: 10px;
    max-width: 600px;
    margin: 0 auto;
    border: 1px solid var(--border);
}

input{
    flex: 1;
    background: transparent;
    border: none;
    border-bottom: 2px solid var(--border);
    padding: 10px;
    color: white;
    font-size: 1rem;
    outline: none;
    transition: border-color 0.3s;
}

input:focus{
    border-color: var(--primary);
}

button{
    background: var(--primary);
    color: white;
    border: none;
    padding: 10px 25px;
    border-radius: 10px;
    font-weight: bold;
    cursor: pointer;
    transition: 0.3s
}

button:hover{
    background: var(--primary-hover);
}

/* __________________________________________________________________ Grid de resultados */

.result-grid{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}